body p {
  font-family: "Inter", sans-serif;
}

body h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.question {
  display: none;
}
.question.active {
  display: block;
}

#page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question {
  width: 30vw;
  height: 50vh;
  font-family: "Inter", sans-serif;
}

#quiz-container {
  margin-bottom: 100px;
  width: 30vw;
  height: auto;
}

.quizOptions span {
  display: inline-block;
  padding: 15px 20px;
  margin: 8px;
  border-radius: 10px;
  background: #ff8000;
  color: black;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

#qnButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30px;
  margin-top: 30px;
  padding: 30px;
}

#qnButtons button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  width: 30px;
  margin-top: 30px;
  background-color: #dcdcdc;
  padding: 20px 50px;
  margin-left: 5px;
  margin-right: 5px;
  transform: ;
}

#qnButtons button:hover {
  background-color: #ff8000;
}

.quizOptions input[type="radio"]:checked + span {
  color: white;
  background-color: #c54949;
  padding: 15px 20px;
  border-radius: 10px;
}

/*results.html*/

.result-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 20px;
  background-color: #dcdcdc;
  border-radius: 50px;
}

#value1,
#value2 {
  background-color: #ff8000;
  height: 20px;
  border-radius: 50px;
}

.subScores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50vw;
  height: 100px;
}

.divs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

.sidebox {
  width: 600px;
}

.subScores p {
  height: auto;
}

#result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#result-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
