html {
  overflow-x: hidden;
}

body {
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: black;
}

body p {
  font-family: "Inter", sans-serif;
}

body h1,
h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

#header-bar {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: rgb(50, 50, 50);
}

#links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
}

#front-cover {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

#front-cover div {
  padding: 30px;
  width: 80vw;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#front-cover div div {
  height: 50vh;
}

#front-cover div > * {
  padding: 0px;
  margin: 0px;
}

/*
#front-cover div button {
  width: 130px;
  height: 40px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

#front-cover div p {
  margin-top: 30px;
}

#front-cover h1 {
  font-size: 100px;
  letter-spacing: -2px;
  font-family: "Bebas Neue", sans-serif;
}

#front-cover #subheading {
  font-size: 30px;
}

/* In personality*/
.question {
  display: none;
}
.question.active {
  display: block;
}
/* end of personality*/

#start-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 100px;
}

#start-info-content {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 60vw;
}

#start-info-img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

#test {
  height: 100vh;
}
